body {
  margin: 0;
  /* overflow: hidden; */
  /* font-family: "Libre Baskerville", serif; */
  font-optical-sizing: auto;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
